.blogs__list{
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display:flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 14px 0;
}

.blogs__item{
	max-width: 380px;
	margin: 0 0 34px 0;
}

.blogs__item h2:hover{
	text-decoration: underline;
}

.blogs__item img{
	margin: 0 0 17px 0;
}

.blogs__date{
	margin: 0 0 7px 0;
	font-size: 16px;
	line-height: 22px;
	color: #818181;
}

.blogs__item h2{
	margin: 0 0 15px 0;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
}

.blogs__h2 {
	color: #1E0606;
}

.blogs__text{
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;
}
